body {
    text-align: center;
}

#board {
    width: 450px;
    height: 450px;
    border: 5px solid black;
    background-color: rgb(52, 18, 175);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    width: 48px;
    height: 48px;
    border: 1px solid pink;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tileClicked {
    background-color: rgb(31, 170, 216);
}

.number1 {
    color: blue;
}

.number2 {
    color: green;
}

.number3 {
    color: red;
}

.number4 {
    color: navy;
}

.number5 {
    color: brown;
}

.number6 {
    color: teal;
}

.number7 {
    color: black;
}

.number8 {
    color: gray;
}

#flagButton {
    width: 100px;
    height: 50px;
    font-size: 30px;
    background-color: lightgreen;
    border: 2px solid purple;
}

#refreshPage {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(172, 88, 172);
    border: 2px solid purple;
}